<button class="btn btn-primary" (click)="openAddStaff()">Add User</button>

<div class="card mt-5 text-light" style="background-color: #172b4d;">
  <div class="card-body">
    <div class="d-flex align-items-center">
       <h5 class="mb-0">User List Table</h5>
    </div>
    <div class="table-responsive mt-3">
      <table class="table align-middle mb-0">
        <thead class="table" style="background-color: #172b4d;">
         <tr class="tablerow">
           <th>First Name</th>
           <th>Last Name</th>
           <th>Education</th>
           <th>City</th>
           <th>County</th>
           <th>PinCode</th>
           <th>Update User</th>
           <th>Delete User</th>
         </tr>
         </thead>
         <tbody class="text-light" *ngFor="let UserList of UserListData"><tr>
          <td>{{UserList.first_name}}</td>
          <td>{{UserList.last_name}}</td>
          <td>{{UserList.education}}</td>
          <td>{{UserList.city}}</td>
          <td>{{UserList.country}}</td>
          <td>{{UserList.pin_code}}</td>
          <td class="update" (click)="UpdateStaff(UserList)">Update</td>
          <td class="del" (click)="deleteUserData(UserList)">Delete</td>
         </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
  
  
  