<h1 class="h1Heading">Form-1</h1>
<div class="ms-5 mt-5 row">

    <div class="col-12"> 
      <h2>Variable-1</h2>
<mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option  *ngFor="let data of variablesToShowInSelector?.variable1">{{data.variable}}</mat-option>
    </mat-select>
  </mat-form-field>
</div> 

<div class="col-12">
  <h2>Variable-2</h2> 
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select >
      <mat-option  *ngFor="let data of variablesToShowInSelector?.variable2">{{data.variable}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="col-12"> 
  <h2>Variable-3</h2>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select >
      <mat-option  *ngFor="let data of variablesToShowInSelector?.variable3">{{data.variable}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="col-12"> 
  <h2>Variable-4</h2>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select >
      <mat-option  *ngFor="let data of variablesToShowInSelector?.variable4">{{data.variable}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="col-12"> 
  <h2>Variable-5</h2>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select >
      <mat-option  *ngFor="let data of variablesToShowInSelector?.variable5">{{data.variable}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

</div>