<h1 class="h1Heading">Form-1</h1>
<div class="ms-5 mt-5 row">

    <div class="col-12"> 
      <h2>Variable-1</h2>
<mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select >
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</div> 

<div class="col-12">
  <h2>Variable-2</h2> 
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select >
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="col-12"> 
  <h2>Variable-3</h2>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select >
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="col-12"> 
  <h2>Variable-4</h2>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select >
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="col-12"> 
  <h2>Variable-5</h2>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select >
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</div>

</div>